__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.sqlite3
db.sqlite3
media/
staticfiles/
node_modules/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
docker-data/
postgres_data/
redis_data/
*.so
build/
dist/
*.egg-info/
*.manifest
*.spec
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
docs/_build/
.ipynb_checkpoints
.venv/
env/
celerybeat-schedule
celerybeat.pid
.pdm-python
.pdm-build/
__pypackages__/
.ruff_cache/
.pypirc
.cursorignore
.cursorindexingignore
marimo/_static/
marimo/_lsp/
__marimo__/